body{
    background-image: url(https://images7.alphacoders.com/108/1085184.jpg);
    background-size: cover;

}
.container{
    display: flex;
    justify-content: center;

}
.box{
    display: flex;
    flex-direction: column;
    height: 670px;
    width: 1100px;
    background-color: white;
    margin-top:30px;
    margin-bottom: 30px;
    border-radius: 30px;
    padding: 100px;
    padding-top: 10px;
}

h1{
  font-family: 'Lilita One', sans-serif;
  font-size: 60px;
  color: #ff69b4;
  text-align: center;
}
.section2 img{
    width: 100px;
    height: 100px;

}
.item{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 20px;
    font-family:'Lilita One', sans-serif;
    color: #41b8f0;
}
button{
    color:white !important;
}
h3{
    color:#ff69b4;
    font-family:'Lilita One', sans-serif;
}
input{
    color: #41b8f0;
    width: 30px;
    font-size: 20px;
    text-align: center;
}
.tot{
  
    color:#ff69b4;
    font-family:'Lilita One', sans-serif;  
}
.heart {
    font-size: 25px;
      color:#ff007f;
  }